header h1 { font-size: 20px; line-height: 60px; letter-spacing: 1px; font-family: 'Museo Sans W01 300'; color : #EDEDED; text-align: center; }
header a { text-decoration: none; }

article .content { margin-top : 24px; }

article h1 { font-size: 32px; line-height: 48px; font-family: 'Museo Sans W01 300'; color : #3a3a3a; text-align: center; }
article h2 { font-size: 20px; line-height: 24px; margin : 48px 0px 24px 0; font-family: 'Museo Sans W01 700'; color : #3a3a3a; text-align: left; }
article h3 { font-size: 18px; line-height: 24px; font-family: 'Museo Sans W01 500'; color : #3a3a3a; text-align: left; }
article p, article ul, article ol { line-height: 24px; font-family: Alice; margin-bottom : 24px; }

article blockquote { color : #878787; padding : 0 36px;}


article .tags li { font-size : 12px; line-height: 18px; color :#bfbfbf; }

ul { list-style-type: circle; margin-left : 2em; }
ol { list-style-type: decimal; margin-left : 2em; }
